<section class="splash-screen-main-section">
  <section class="splash-screen-sub-section">

    <div class="splash-screen-app-name-container">
      <h1 class="app-name">Expense<br>Tracker</h1>
    </div>

    <div class="login-signup-buttons-container">
      <%= link_to 'LOG IN', new_user_session_path, class: 'login-button' %>
      <%= link_to 'SIGN UP', new_user_registration_path, class: 'signup-button' %>
    </div>

  </section>
</section>