/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'nova-bold';
  src: url('fonts/Proxima-Nova-Bold.ttf') format("truetype");
}

@font-face {
  font-family: 'nova-light';
  src: url('fonts/Proxima-Nova-Light.ttf') format("truetype");
}

body {
  background-color: #f0f2f1;
}

* {
  font-family: 'nova-light', Arial, sans-serif;
  list-style: none;
  text-decoration: none;
  color: #434b54;
  padding: 0;
  margin: 0;
}

/* --------------- Splash Screen ---------------------- */
.splash-screen-main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.splash-screen-sub-section {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 75% 25%;
  align-items: stretch;
}

.splash-screen-app-name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-name {
  text-align: center;
  font-size: 50px;
  font-family: 'nova-bold', Arial, sans-serif;
}

.login-signup-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 50px;
}

.login-button {
  width: 100%;
  text-align: center;
  padding: 15px;
  background-color: #3778c2;
  color: white;
}

.signup-button {
  width: 100%;
  text-align: center;
  padding: 15px;
}

/* ------------------- Registration and Login Page -------------------- */
.registration-new-sub-section,
.login-page-sub-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.registration-new-nav,
.login-page-new-nav {
  background-color: #3778c2;
  width: 97%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 1.5%;
}

.registration-new-nav-heading,
.login-page-new-nav-heading {
  color: white;
  font-size: 22px;
}

.registration-new-nav-back-btn,
.login-page-new-nav-back-btn {
  color: white;
}

.registration-new-submit-btn,
.login-page-new-submit-btn {
  border: none;
  background-color: inherit;
  color: white;
  font-size: 20px;
}

/* -------------------- Categories Index Page ------------------------- */
.categories-index-main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.categories-index-sub-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.expenses-index-header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.categories-index-nav {
  background-color: #3778c2;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 27px 0;
}

.categories-index-nav-heading {
  color: white;
  font-size: 22px;
}

.all-categories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
  padding-bottom: 110px;
  gap: 15px;
}

.individual-category-container {
  background-color: white;
  width: 90%;
  padding: 10px;
  display: grid;
  grid-template-columns: 20% 77% 10000%;
  gap: 20px;
  max-height: 125px;
}

.category-image {
  width: 100%;
  max-width: 123px;
  max-height: 123px;
}

.individual-category-details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
}

.individual-category-name-and-total-amount-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.category-name {
  font-size: 20px;
}

.category-total-amount {
  font-size: 20px;
  font-family: 'nova-bold', Arial, sans-serif;
}

.category-creation-date {
  font-size: 13px;
}

.no-categories-message {
  font-size: 20px;
  text-align: center;
}

.add-new-category-btn-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #5fb523;
}

.add-new-category-btn {
  border: 1px solid white;
  border-radius: 4px;
  width: 88%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
}

/* -------------------- Categories New Page ------------------------- */
.categories-new-sub-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.categories-new-nav {
  background-color: #3778c2;
  width: 97%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 1.5%;
}

.categories-new-nav-heading {
  color: white;
  font-size: 22px;
}

.categories-new-nav-back-btn {
  color: white;
}

.categories-new-submit-btn {
  border: none;
  background-color: inherit;
  color: white;
  font-size: 20px;
}

/* --------------------------- For All Forms -------------------------- */
.form-fields {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #767676;
}

.individual-form-field {
  padding: 15px;
  font-size: 17px;
  border: none;
  border-bottom: 1px solid #767676;
}

.individual-form-field:nth-last-child(1) {
  border: none;
}

/* -------------------- Expenses Index Page ------------------------- */
.expenses-index-main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.expenses-index-sub-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.expenses-index-nav {
  background-color: #3778c2;
  width: 97%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 27px 1.5%;
}

.expenses-index-nav-back-btn {
  color: white;
}

.expenses-index-nav-heading {
  color: white;
  font-size: 22px;
}

.hidden-text-for-styling {
  color: #3778c2;
}

.total-amount-for-transaction-expenses {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10px;
  background-color: white;
}

.expense-category-total-amount-text {
  font-size: 22px;
}

.expense-category-total-amount-sum {
  font-size: 22px;
  font-family: 'nova-bold', Arial, sans-serif;
}

.all-expenses-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 15px;
  padding-bottom: 110px;
  gap: 15px;
}

.individual-expense-container {
  background-color: white;
  width: 90%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.expense-name-and-amount-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.expense-name {
  font-size: 20px;
}

.expense-amount {
  font-size: 20px;
  font-family: 'nova-bold', Arial, sans-serif;
}

.expense-creation-date {
  font-size: 13px;
}

.no-expenses-message {
  font-size: 20px;
  text-align: center;
}

.add-new-expense-btn-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #5fb523;
}

.add-new-expense-btn {
  border: 1px solid white;
  border-radius: 4px;
  width: 88%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
}

/* -------------------- Expenses Index Page ------------------------- */
.expense-new-sub-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.expense-new-nav {
  background-color: #3778c2;
  width: 97%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 1.5%;
}

.expense-new-nav-heading {
  color: white;
  font-size: 22px;
}

.expense-new-nav-back-btn {
  color: white;
}

.expense-new-submit-btn {
  border: none;
  background-color: inherit;
  color: white;
  font-size: 20px;
}
